# Laravel / PHP
.env
.env.*
/.phpunit.cache
.phpunit.result.cache
.phpactor.json
Homestead.*
storage/*.key
storage/pail
/vendor/


!storage/
!storage/app/
!storage/app/textFiles/
!storage/app/textFiles/**

# Node / JS
node_modules/
npm-debug.log
yarn-error.log

# Build / Cache / IDE
/public/build
/public/hot
/public/storage
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Composer
/auth.json

# Archivos específicos
textFiles/license.txt
!resultNnUNet/*
resultNnUNet/*

# Otros directorios ignorados
fileFolder/image-1/*
!fileFolder/
inference/*
!inference/
public/json/

/public/fotos/
/storage/uploads/

# Ignorar archivos por extensión
**/*.nii
**/*.nii.gz
**/*.mgz
*.jpg
*.jpeg
*.png
*.gif
*.pyc
