# Laravel / PHP
.env
.env.*
/.phpunit.cache
.phpunit.result.cache
.phpactor.json
Homestead.*
storage/*.key
storage/pail
vendor

# Node / JS
node_modules
npm-debug.log
yarn-error.log

# Build / Cache / IDE
/public/build
/public/hot
/public/storage
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Composer
/auth.json

# Tus datos grandes (¡esto es lo importante!)
temporalFiles/
fileFolder/
public/json/
**/*.nii
**/*.nii.gz
*.jpg
*.jpeg
*.png
*.gif
/public/fotos/
/storage/uploads/
*.pyc
